<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gitBounty</title>
    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="large-12 small-12 nav-head">
      <div class="large-offset-2 large-8 head-content row">
        <a href="/" style="text-decoration:none; color:black;">
          <div class="logo large-2 small-4 columns">
            <span class="git">git</span><span class="bounty">Bounty!</span>
          </div>
        </a>
        <ul class="head-links large-10 small-8 large-offset-2 columns">
          <% if !github_authenticated? %>
            <li><a href="/login">Login</a></li>
          <% else %>
            <% if is_admin? %>
              <li><%= link_to "Titles", title_index_url %></li>
            <% end %>
            <li><a href="/logout">Logout</a></li>
          <% end %>
          <% if github_authenticated? %>
          <div class="github-avatar head-boxes">
            <%= image_tag current_user.avatar_url, :class => "img-responsive" %>
          </div>
            <% if current_user %>
              lv <%= get_dev_level.to_i %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </nav>
	<div class="content large-8 large-offset-2">
      <%= yield %>
    </div>
    <div class="footer">
      <div class="footer-content large-8 large-offset-2">
      </div>
    </div>
  </body>
</html>
