<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gitBounty</title>
    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="large-12 nav-head">
      <div class="large-offset-2 large-8 head-content head-boxes">
        <div class="logo">
          <span class="git">git</span><span class="bounty">Bounty!</span>
        </div>
        <ul class="head-links">
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <% if !github_authenticated? %>
            <li><a href="/login">Login</a></li>
          <% else %>
            <li><a href="/logout">Logout</a></li>
          <% end %>
        </ul>
      </div>
      <% if github_authenticated? %>
        <div class="github-avatar head-boxes">
		  <%= image_tag current_user.avatar_url, :class => "img-responsive" %>
		</div>
		<% if current_user%>
		  <%= current_user_local.level %>
		<% end %>
      <% end %>
    </nav>
	<div class="content large-8 large-offset-2">
      <%= yield %>
    </div>
    <div class="footer">
      <div class="footer-content large-8 large-offset-2">
        <ul>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
